
.MuiTypography-subtitle1{
    color: white;
  }
  .MuiBox-root{
    color: white;
  }
  .MuiTypography-h5{
    color: #ffff;
  }
  .MuiTypography-root.MuiTypography-h4{
    font-family:'NeueMachina', sans-serif;
    color: #ffff;
  }
  .MuiTypography-root .MuiTypography-h4{
    color: #ffff !important;
  }
  .MuiTypography-root.MuiTypography-overline{
    color: #ffff;
    font-family: 'NeueMachina', sans-serif;

  }
  .MuiTypography-root.MuiTypography-body2 {
    color: #ffff;
    font-family: 'NeueMachina', sans-serif;
  }
 td .MuiTableCell-root .MuiTableCell-body .MuiTableCell-sizeMedium{
    color: #ffff;
  }
.MuiStack-root .MuiTypography-root .MuiTypography-h4{
    color: #ffff;
}
.MuiTypography-root.MuiTypography-subtitle1.MuiListItemText-primary.css-1kji7gj-MuiTypography-root{
  font-family: 'NeueMachina', sans-serif;

}

.MuiTableCell-root.MuiTableCell-head {
    color: white;
    font-family: 'NeueMachina', sans-serif;
  }
  .css-ati914-MuiTypography-root{
    font-family: 'NeueMachina', sans-serif;
  }
  .MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium {
    color: white;
    font-family: 'NeueMachina', sans-serif;

  }
  .MuiTypography-root.MuiTypography-subtitle2.css-ati914-MuiTypography-root {
    color: white;
    font-family: 'NeueMachina', sans-serif;
  }
  .MuiTypography-root.MuiTypography-body1.MuiTypography-alignCenter.css-1uwgr7b-MuiTypography-root {
    color: white;
  }
  .MuiTypography-root.MuiTypography-h4 {
    color: white;
  }
  .MuiTablePagination-selectLabel.css-pdct74-MuiTablePagination-selectLabel {
    color: white;
    font-family: 'NeueMachina', sans-serif;
  }

.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows {
    color: white;
  }
  .MuiTypography-root.MuiTypography-h4.css-5lbw0b-MuiTypography-root {
    color: white;
  }
  #export-button.btn.btn-info {
    color: white;
  }
  .MuiSvgIcon-root.css-i4bv87-MuiSvgIcon-root path {
    fill: white;
  }
  .MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
    color: white;
  }
  .MuiCardHeader-root.css-185gdzj-MuiCardHeader-root,
  .MuiCardHeader-content.css-1qbkelo-MuiCardHeader-content,
  .MuiTypography-root.MuiTypography-h5.MuiCardHeader-title.css-1qvr50w-MuiTypography-root,
  .MuiTypography-root.MuiTypography-body1.MuiCardHeader-subheader.css-nrdprl-MuiTypography-root {
    color: white;
    font-family: 'NeueMachina', sans-serif;
  }
  .MuiInputBase-input.MuiOutlinedInput-input.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: white;
  }
  .MuiTypography-root.MuiTypography-caption.css-ol7wxs-MuiTypography-root {
    color: white;
    font-family: 'NeueMachina', sans-serif;
  }
.whitecolor{
    color: black;
}   
.css-u44ztt-MuiButtonBase-root-MuiButton-root {
  color: white;
  font-family: 'NeueMachina', sans-serif;
}
.MuiTypography-root.MuiTypography-subtitle2.css-hav9kw-MuiTypography-root{
  color: white;
  font-family: 'NeueMachina', sans-serif;
}
.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input{
  color: white;
  font-family: 'NeueMachina', sans-serif;
}
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: white;
}
.css-v217lz-MuiInputBase-root-MuiOutlinedInput-root{
  border: 1px solid white;
}
.css-ltyecm-MuiSvgIcon-root {
  color: white;
}
.MuiInputBase-input.MuiOutlinedInput-input.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
  font-family: 'NeueMachina', sans-serif; 
}
.MuiSvgIcon-root.MuiSvgIcon-colorAction.css-ltyecm-MuiSvgIcon-root {
  color: white;
}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: white;
}
.MuiInputBase-input.MuiOutlinedInput-input.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border: 1px solid white;
}
.MuiInputBase-input.MuiFilledInput-input.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  color: white;
  border: 1px solid white;

}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-filled.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root {
  color: white;
}
.MuiSvgIcon-root.MuiSvgIcon-colorSuccess.MuiSvgIcon-fontSizeSmall.css-1ucxkcv-MuiSvgIcon-root {
  color: red;
}

.MuiButton-root {
  color: white !important;
}


.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-zwt9xa-MuiPaper-root-MuiCard-root {
  background-image: url('../../../public//banner.png');
}

.MuiCardContent-root.css-46bh2p-MuiCardContent-root {
  /* background-image: url('../../../public//banner.png'); */
  background-size: cover; /* Adjust the background size property as needed */
  background-position: center; /* Adjust the background position property as needed */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  padding: 20px; /* Add padding as needed */
}

/* Additional styles for the content inside MuiCardContent-root */
.MuiTypography-root.MuiTypography-h5.MuiTypography-alignCenter.MuiTypography-gutterBottom.css-68fhrh-MuiTypography-root,
.MuiTypography-root.MuiTypography-body1.MuiTypography-alignCenter.css-1uwgr7b-MuiTypography-root {
  color: white; /* Set text color to white or adjust as needed */
  font-family: 'NeueMachina', sans-serif;
}
.MuiStack-root.css-hmaqs6-MuiStack-root {
  background-image: url('../../../public//banner.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust the background size property as needed */
  background-position: center; /* Adjust the background position property as needed */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  padding: 20px; /* Add padding as needed */
}
.MuiStack-root.css-v2woy3-MuiStack-root {
  background-image: url('../../../public//banner.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; /* Add padding as needed */
}
.MuiPaper-root {
  background-image: url('../../../public//banner.png'); /* Set your desired image URL */
  background-size: cover;
  background-position: center;
}
.MuiContainer-root.MuiContainer-maxWidthLg.css-1oqqzyl-MuiContainer-root {
  background-image: url('../../../public//banner.png');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  padding: 20px; /* Add padding if necessary */
}
span.MuiBox-root.css-127lomd {
  font-family: 'NeueMachina', sans-serif;
}
.MuiTypography-root {
  font-family: 'NeueMachina', sans-serif;
}

.css-ati914-MuiTypography-root {
  font-family: 'NeueMachina', sans-serif;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #85FFFF;
}
#demo-simple-select {
  border: 1px solid white;
  padding: 15px 48px;
  /* Add other styles as needed */
}
.MuiTypography-root.MuiTypography-subtitle1.css-1yqpi80-MuiTypography-root {
  color: white ;
  font-family: 'NeueMachina', sans-serif; /* Replace 'YourFontFamily' with the desired font family */
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium .MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  background-color: #85FFFF;
}

.custom-button {
  background-color: #85FFFF;
}    
.MuiGrid2-root.MuiGrid2-direction-xs-row.MuiGrid2-grid-xs-12.MuiGrid2-grid-md-6.MuiGrid2-grid-lg-4.css-1qkb1hg-MuiGrid2-root {
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-bhp9pd-MuiPaper-root-MuiCard-root{
  color: #ffff;
}

      
.MuiButtonBase-root.MuiMenuItem-root {
  color: white;
}
.aqua-button {
  background-color: #85FFFF;
}
.fmenu_item{
  /* display: flex; */
}